<h1>ngFor Challenges</h1>
<ul class="nav navbar-nav">
 <li>
    <a routerLink="example"> ngFor Example</a>
  </li>
  <li>
    <a routerLink="ngif-example"> ngIf Example</a>
  </li>
  <li>
    <a routerLink="">Challenge One</a>
  </li>
  <li>
    <a routerLink="challenge-2">Challenge Two</a>
  </li>
   <li>
    <a routerLink="challenge-3">Challenge Three</a>
  </li>
   <li>
    <a routerLink="challenge-4">Challenge Four</a>
  </li>
   <li>
    <a routerLink="challenge-5">Challenge Five</a>
  </li>
   <li>
    <a routerLink="challenge-6">Challenge Six</a>
  </li>
</ul>